.card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  padding: 5rem 28px;
  inline-size: 50%;
  max-inline-size: 600px;

  border-radius: 16px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.5);
}
