@import url("./components/card/card.css");
@import url("./components/input/input.css");
@import url("./components/button/button.css");
@import url("./components/sidebar/sidebar.styles.css");
@import url("./components/admin-sidebar/admin-sidebar.css");
@import url("./components/doctor-sidebar/doctor-sidebar.css");
@import url("./components/spacer/spacer.styles.css");
@import url("./components/form/specialty-step.css");
@import url("./components/form/doctor-step.css");
@import url("./components/form/date-time-step.css");
@import url("./components/form/confirmation-step.css");
@import url("./components/modal/booking-modal.css");
@import url("./components/modal/step-indicator.css");
@import url("./components/form/personal-info.css");

@import url("./styles/_app/_app.styles.css");
@import url("./styles/login/login.styles.css");
@import url("./styles/dashboard/dashboard.styles.css");
@import url("./styles/consultas/consultas.styles.css");
@import url("./styles/historico-medico/historico.styles.css");
@import url("./styles/teleconsultas/teleconsultas.styles.css");
@import url("./styles/exames/exames.style.css");
@import url("./styles/admin/admin.styles.css");
@import url("./styles/doctor/doctor.styles.css");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-cllr: #0d9488;
  --bg-primary-cllr: #f0fdfb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul li {
  list-style: none;
}
